<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravikantsingh.maang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavDrawer.ProfileActivity"></activity>
        <activity android:name=".NavDrawer.RTI" />
        <activity android:name=".SuggestionActivity" />
        <activity android:name=".AddSuggestionActivity" />
        <activity android:name=".AddPostActivity" />
        <activity android:name=".AddComplainActivity" />
        <activity android:name=".PdfViewerActivity" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".WMSinnerActivity.StatusWorkActivity" />
        <activity android:name=".WMSinnerActivity.WorkDetailActivity" />
        <activity android:name=".WMSinnerActivity.NonProgressiveWorkActivity" />
        <activity android:name=".WMSinnerActivity.CompletedWorkActivity" />
        <activity android:name=".WMSinnerActivity.WorkRegisterActivity" />
        <activity android:name=".WMSinnerActivity.RecommendedWork" />
        <activity android:name=".NavDrawer.SettingActivity" />
        <activity android:name=".NavDrawer.FeedBackActivity" />
        <activity android:name=".NavDrawer.AboutActivity" />
        <activity android:name=".NavDrawer.JantaDarbarActivity" />
        <activity
            android:name=".MainActivity"
            android:label="MAANG" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration.RegistrationActivity"
            android:theme="@style/NoActionAppTheme" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".OurMpSuggestionActivity" />
        <activity android:name=".OurMpPostActivity" />
        <activity android:name=".MySuggestion" />
        <activity android:name=".MyPost" />
        <activity android:name=".MyComplain" />
    </application>

</manifest>